# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Vector DB (too large)
backend/dbv2/
dbv2/

# Docker cache
*.log
