langchain
langchain-community
langchain-text-splitters
langchain-openai
openai
langchain-chroma
python-dotenv
langchain-experimental
jupyter
fastapi
uvicorn
unstructured[pdf]
pytesseract
pillow
pypdf

streamlit>=1.30
requests
